/*************************************************
*GRID
**************************************************/

$susy: (columns: 12, gutters: 1/4, math: fluid, output: float, global-box-sizing: border-box, gutter-position: inside, debug: (image: show, color: rgba(#66f, .25), output: overlay, toggle: top right));

$widelayout: 24 1/4 fluid float inside (gutter-override: 0);


// main {
//  @include container(80%);
// }

// nav {
//   @include container(100%);
// }

@include susy-breakpoint($bp-medium, 12) {
    main {
        @include span(8);
        margin-left: span(2) + gutter();
        margin-right: span(2) + gutter();
    }
}


@include susy-breakpoint($bp-large, $widelayout) {
    header {
    @include span(24);
    }

    main  {
        @include span(10);
        margin-left: span(7) ;
        margin-right: span(7) ;
    }

    // aside {
    //   @include span(6  at 19);
    // }
}



// 960 px grid
//@include layout (12 (60px 10px) split static);
