/*************************************************
*GRID
**************************************************/

$susy: (columns: 12, gutters: 1 / 4, math: fluid, output: float, global-box-sizing: border-box, gutter-position: inside, debug: (image: show, color: rgba(#6666ff, 0.25), output: overlay, toggle: top right));

$widelayout: 24 1 / 4 fluid float inside (gutter-override: 0);

// main {
//  @include container(80%);
// }

// nav {
//   @include container(100%);
// }

 header {
    @include span(12);
    }
main {
        @include span(10);
        margin-left: span(1) + gutter();
        margin-right: span(1) + gutter();
    }

@include susy-breakpoint($bp-medium, 12) {
    header {
    @include span(12);
    }

    main {
        @include span(8);
        margin-left: span(2) + gutter();
        margin-right: span(2) + gutter();
    }
}


@include susy-breakpoint($bp-large, $widelayout) {
    header {
    @include span(24);
    }
    .header-wrapper {
        @include span(14);
    }
    .main-navigation {
        @include span(10);
    }
      main  {
          @include span(12);
          margin-left: span(6) ;
          margin-right: span(6) ;
      }
    // aside {
    //   @include span(6  at 19);
    // }
}


// 960 px grid
//@include layout (12 (60px 10px) split static);