/*************************************************
*HEADER
**************************************************/

.header-wrapper {
    height: 4em;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    z-index: -1;
}
