/*************************************************
*HEADER
**************************************************/

.header-wrapper {

    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height:4em;
    z-index: 1;
}
