.icon-envelope {
  width: 2em;
  height: 2em;
}
.icon-folder {
  width: 2em;
  height: 2em;
}
.icon-GD-logo2 {
  width: 19.375em;
  height: 23.75em;
}
.icon-github {
  width: 2em;
  height: 2em;
}
.icon-home {
  width: 2em;
  height: 2em;
}
.icon-image {
  width: 2em;
  height: 2em;
}
.icon-linkedin {
  width: 2em;
  height: 2em;
}
.icon-menu {
  width: 2em;
  height: 2em;
}
.icon-mobile {
  width: 2em;
  height: 2em;
}
.icon-twitter {
  width: 2em;
  height: 2em;
}