/*************************************************
*IMAGES
**************************************************/

// background img using compass mixins
.cover {
    @include background-size(cover);
}

.contain {
    @include background-size(contain);
}

//Utiliy class for SVG
.ui-img,
%ui-img {
    background-image: url("#{$img}/sprites/sprite.svg");
    background-repeat: no-repeat;

    .no-svg & {
        background-image: url("#{$img}/ui-separate-std-sprite.png");
    }
}

svg {
    fill: currentColor;
}


.no-bleed {
    position: relative;

    &:after {
        @extend %ui-img;
        background-position: 0 0;
        background-size: 380px;
        content: ' ';
        display: block;
        height: 380px;
        left: 0;
        position: absolute;
        top: 0;
        width: 260px;
    }
}

// icons



#icon-gd-logo2 {
    path:nth-of-type(1) {
        fill: $base-color;
    }

    path:nth-of-type(2) {
        fill:$accent-color;
    }
}

// [class^="icon-"] {
//     height: 2em;
//     width: 2em;
//     }

.fa-bars {
    color: $base-background-color;
}

.fa-circle {
    color: $base-color;
}

// .fa-stack-2x {
//     font-size: 1em;
//     line-height: 2em;
//     }

// .fa-stack-1x {
//     font-size: .5em;
//     line-height: 4em;
// }

.fa-envelope {
    color: $base-color;
    top: - 25%;
}






