// Main site navigation

.anim-flow {
    display: block;
}


nav ul {
    //max-height: 0;
    background-color: $base-color;
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;

    li {
        @include hover-style($accent-color, 10%);
        display: block;
        padding: 15px;
        text-align: left;
        width: 100%;

        @include breakpoint($bp-medium) {
            display: inline-block;
            padding: 20px;
            width: auto;

        }
    }
    @include breakpoint($bp-medium) {
           max-height: 100%;

        }
}

.handle {
    background-color: $brand-color;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 15px 10px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
    //transform: translate3d(0, 0, 1px);
    //webkit-transform: translateZ(0px);
    &:before {
       content: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2221%22%20height%3D%2224%22%20viewBox%3D%220%200%2021%2024%22%3E%0A%09%3Cpath%20d%3D%22M20.571%2018v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%2011.143v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603zM20.571%204.286v1.714q0%200.348-0.254%200.603t-0.603%200.254h-18.857q-0.348%200-0.603-0.254t-0.254-0.603v-1.714q0-0.348%200.254-0.603t0.603-0.254h18.857q0.348%200%200.603%200.254t0.254%200.603z%22%20fill%3D%22%23ffffff%22%20/%3E%0A%3C/svg%3E%0A");
        //content: url("#{$img}icons/menu.svg");
        //background-image: url("#{$img}png/menu.png");
        padding-right: 1rem;
        vertical-align: -webkit-baseline-middle;
    }

    @include breakpoint($bp-medium) {
        display: none;
    }
}


.showing {

    @include breakpoint($bp-medium) {
        animation: none;
        height: 100%;
    }
}


.showing--inactive {
    animation: bouncyUp 1s forwards;

    // &:before {
    //     max-height: 0;
    //     transition: max-height 1s ease-out;
    // }

    @include breakpoint($bp-medium) {
        animation: none;
        height: 100%;
    }
}

.showing--active {


    animation: bouncyDown 1s forwards;
    //     &:before {
    //     max-height: 25em;
    //     transition: max-height 1s ease-in;
    // }

}

@keyframes bouncyDown {

      0%, 50%, 100% {

      -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1);
      transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    0% {
        transform: translate3d(0, -25em, 0);
    }

    50% {
        transform: translate3d(0, 5em, 0);
    }

    // 75% {
    //     transform: translate3d(0, -.5em, 0);
    // }
    // 90% {
    //     transform: translate3d(0, .75em, 0);
    // }

    100% {
        transform: translate3d(0, 0, 0) ;

    }
}

@keyframes bouncyUp {

    0% {
        transform: translate3d(0, 0, 0) ;

    }

    50% {
        transform: translate3d(0, 5em, 0);
    }

    100% {
        transform: translate3d(0, -25em, 0) ;

    }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 10em, 0);
  }

  75% {
    transform: translate3d(0, -5em, 0);
  }

  90% {
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


// Flex Navigation
.flex-nav {
    display: flex;
    width: 100%;
}

%flex-nav-item {
    align-items: center;
    background-color: #ccc;
    border: {
        left: 1px solid #999;
    };
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.flex-nav-item {
    @extend %flex-nav-item;

    &:hover {
        background-color: #aaa;
    }
}

.flex-nav-item--search {
    @extend %flex-nav-item;
    @include flex(1);
    label {
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
    }

    input {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
    }
}
