// Main site navigation
.nav-toggle {
    position: relative;
    background-color: #fff;
    cursor: pointer;
    float: right;
    height: 6em;
    padding-top: 2em;


    z-index: 5;
    @include breakpoint($bp-medium) {
        display: none;

    }
}

.main-navigation {
    position: relative;
    z-index: 1;
    transition: transform .6s ease;
    @include breakpoint($bp-medium) {
                background-color: #fff;
        height: 6em;
        }
 }

// .wrapper {
//     overflow: hidden;
// }

.inner-wrapper {
    //transform: translateY(0);

    transition: transform .6s ease;
}

nav ul {

    @include reset-list;
    background-color: $base-color;
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;


     @include breakpoint($bp-medium) {
        // position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        color: $base-color;
        background-color: transparent;
        display: inline-block;
        }

    li {
       @include hover-style($accent-color, 10%);
        display: block;
        padding: 1em;
        width: 100%;


        @include breakpoint($bp-medium) {
            text-align: middle;
            line-height: 4em;
            height: 6em;
           display: inline-block;
            padding: 0.75em;
            width: auto;
             &:hover {
             color: #fff;
            background: $base-color;
            }
        }
    }
}

.showing {
    @include breakpoint($bp-medium) {
        animation: none;
        height: 100%;
    }
}

.showing--inactive {
    animation: bouncyUp 1s forwards;

    @include breakpoint($bp-medium) {
        animation: none;
        height: 100%;
    }
}

.showing--active {
    animation: bouncyDown 1s forwards;
    //     &:before {
    //     max-height: 25em;
    //     transition: max-height 1s ease-in;
    // }

}

@keyframes bouncyDown {
      0%, 50%, 100% {

      -webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1);
      transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    0% {
        transform: translate3d(0, -25em, 0);
    }

    50% {
        transform: translate3d(0, 5em, 0);
    }

    // 75% {
    //     transform: translate3d(0, -.5em, 0);
    // }
    // 90% {
    //     transform: translate3d(0, .75em, 0);
    // }

    100% {
        transform: translate3d(0, 0, 0) ;

    }
}

@keyframes bouncyUp {

    0% {
        transform: translate3d(0, 0, 0) ;

    }

    50% {
        transform: translate3d(0, 5em, 0);
    }

    100% {
        transform: translate3d(0, -25em, 0) ;

    }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 10em, 0);
  }

  75% {
    transform: translate3d(0, -5em, 0);
  }

  90% {
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


// Flex Navigation
.flex-nav {
    display: flex;
    width: 100%;
}

%flex-nav-item {
    align-items: center;
    background-color: #ccc;
    border: {
        left: 1px solid #999;
    };
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.flex-nav-item {
    @extend %flex-nav-item;

    &:hover {
        background-color: #aaa;
    }
}

.flex-nav-item--search {
    @extend %flex-nav-item;
    @include flex(1);
    label {
        display: block;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
    }

    input {
        @include box-sizing(border-box);
        display: block;
        width: 100%;
    }
}
