/*************************************************
*TYPOGRAPHY
**************************************************/
@include gwf($font-p, $font-s, $font-t);


// Text styles
.headline {
  margin-top: 0;
  line-height: 1.2;
}

.date-ranges {
  font-family: $heading-font;
  @include type-scale(medium);
  @include type-weight(regular);
  color: $brand-color;
}


.primary-header {

 }

.secondary-header {

}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

