/*************************************************
*FOOTER
**************************************************/

.footer-main {
  padding: 1em 4em;
  @include margin-leader(2);
  border-color: darken(#fff, 10%);
  background: #ccc;
}