/*************************************************
*BASE
**************************************************/
// Html element styling only

// Establish a vertical rhythm @include establish-baseline;
*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    background: $base-background-color;
    background-size: cover;
    font-family: $base-font-family;
    margin: 0;
    padding: 0;
    z-index: 0;
    //background: $base-background-color url(../image/creampaper.png);
}


article {
    line-height: 1.5em;

}
main {
     //margin-top: 10em;
     position: absolute;
     top: 10em;
}

// base headings
#{h1, h2, h3, h4, h5} {
    font-family: $heading-font;
    @include font-feature;
}

 h1 {
    //@include type-scale(xxlarge);
    @include type-weight(xtrabold);
    margin: 0;
    color: $base-color;
    @include type-scale(xxlarge);
    padding-left: 1.5em;

}


h2 {
    @include type-scale(xlarge);
    @include type-weight(bold);
    @include apply-side-rhythm-border(bottom, 2px, 1);
    border-color: darken(#fff, 50%);
    color: $accent-color;
}

h3 {
    @include type-scale(large);
    @include type-weight(regular);
    color: $brand-color;
}

h4 {
    @include type-scale(medium);
    @include type-weight(regular);
}

h5 {
    @include type-scale(base);
}

// Base paragraphs
p {
    @include type-scale(medium);
    @include margin-trailer(1);
    @include word-break(break-word);
    @include hyphens(auto);
}


// Small
small {
    @include type-scale(small);
}


ul {
//@include reset-list;

}

// Base anchors
a {
    color: inherit;
    text-decoration: none;
    // &:hover,
    // &:focus {
    //   color: darken($link-color, 30%);
    // }
    // &:focus {
    //   outline: 0;
    // }
    // &:active {
    //   color: darken($link-color, 10%);
    // }
}



// Base form styles
label {
    display: block;
    margin-bottom: 10px;
}

// Base table styles
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

// Responsive media
img,
object,
embed {
    max-width: 100%;
}
