@import url(http://fonts.googleapis.com/css?family=Kavoon|Wendy+One|Montserrat);

/*************************************************
*BASE
**************************************************/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f8f7f2;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
}

article {
  line-height: 1.5em;
}

main {
  -webkit-transform: translateY(6em);
  -ms-transform: translateY(6em);
  transform: translateY(6em);
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -moz-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
}

h1 {
  font-weight: 900;
  margin: 0;
  color: #3e225b;
  font-size: 2.95rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 1.95rem;
  line-height: 2.4rem;
  font-weight: 700;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  padding-bottom: 1.5rem;
  border-color: gray;
  color: #3e225b;
}

h3 {
  font-size: 1.55rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #8cc63e;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/*************************************************
*BUTTONS
**************************************************/

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*************************************************
*MEDIA
**************************************************/

/*************************************************
*TYPOGRAPHY
**************************************************/

/*************************************************
*IMAGES
**************************************************/

svg {
  fill: currentColor;
}

.fa-bars {
  color: #f8f7f2;
}

.fa-circle {
  color: #3e225b;
}

.fa-envelope {
  color: #3e225b;
  top: -25%;
}

.nav-toggle {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  float: right;
  top: 2em;
  z-index: 5;
}

@media (min-width: 43.75em) {
  .nav-toggle {
    display: none;
  }
}

@media (min-width: 43.75em) {
  .main-navigation {
    background-color: #fff;
    height: 6em;
  }
}

.inner-wrapper {
  -webkit-transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #3e225b;
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

@media (min-width: 43.75em) {
  nav ul {
    color: #3e225b;
    background-color: transparent;
    display: inline-block;
  }
}

nav ul li {
  display: block;
  padding: 1em;
  width: 100%;
}

nav ul li:hover {
  background: #573080;
}

@media (min-width: 43.75em) {
  nav ul li {
    text-align: middle;
    line-height: 4em;
    height: 6em;
    display: inline-block;
    padding: 0.75em;
    width: auto;
  }

  nav ul li:hover {
    color: #fff;
    background: #3e225b;
  }
}

@-webkit-keyframes bouncyDown {
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bouncyDown {
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bouncyUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }
}

@keyframes bouncyUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80em, 0);
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -5em, 0);
    transform: translate3d(0, -5em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80em, 0);
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -5em, 0);
    transform: translate3d(0, -5em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/*************************************************
*GRID
**************************************************/

header {
  width: 100%;
  float: left;
  padding-left: Infinity%;
  padding-right: Infinity%;
}

.header-wrapper {
  width: 83.33333%;
  float: left;
  padding-left: 0;
  padding-right: 0;
}

.nav-toggle {
  width: 16.66667%;
  float: right;
  padding-left: 0;
  padding-right: 0;
}

.main-navigation {
  width: 100%;
  float: left;
  padding-left: Infinity%;
  padding-right: Infinity%;
}

main {
  width: 83.33333%;
  float: left;
  padding-left: Infinity%;
  padding-right: Infinity%;
  margin-left: 8.33333%;
  margin-right: 8.33333%;
}

@media (min-width: 43.75em) {
  .header-wrapper {
    width: 41.66667%;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }

  .main-navigation {
    width: 58.33333%;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  main {
    width: 66.66667%;
    float: left;
    padding-left: Infinity%;
    padding-right: Infinity%;
    margin-left: 16.66667%;
    margin-right: 16.66667%;
  }
}

@media (min-width: 78.125em) {
  .header-wrapper {
    width: 58.33333%;
    float: left;
    padding-left: 0;
    padding-right: 0;
  }

  .main-navigation {
    width: 41.66667%;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  main {
    width: 50%;
    float: left;
    padding-left: Infinity%;
    padding-right: Infinity%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*************************************************
*FOOTER
**************************************************/

/*************************************************
*HEADER
**************************************************/

header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: fixed;
  z-index: 10;
}

.header-wrapper {
  height: 6em;
  position: relative;
  background-color: #fff;
  word-wrap: break-word;
  z-index: 10;
}

.header-title {
  font-size: 2em;
  line-height: 0.9em;
  vertical-align: middle;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 2em;
}

.header-title:after {
  content: " Design";
  color: #8cc63e;
}

@media (min-width: 78.125em) {
  .header-title {
    font-size: 2.95em;
    line-height: 3.2em;
  }
}

.header-logo {
  float: left;
  height: 3em;
  width: 3em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 78.125em) {
  .header-logo {
    height: 4em;
    width: 4em;
  }
}

/*************************************************
*SIDEBAR
**************************************************/

.date-ranges {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #8cc63e;
}

.job-end:before {
  content: " - ";
}

/**
 * Print styles - h5bp.com/r
 *
 */

@media print {
  * {
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important;
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  /* Black prints faster: h5bp.com/s */

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (" attr(href) ")';
  }

  a[href^="#"]:after {
    content: '';
  }

  /* Don't show links for images, or javascript/internal links */

  /* h5bp.com/t */

@page {
    margin: .5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
