@import url(http://fonts.googleapis.com/css?family=Kavoon|Wendy+One|Montserrat);

.header-title,
.header-logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ==========================================================================
   BASE
   Plain semantic HTML
   ========================================================================== */

html {
  font-size: 100%;
  line-height: 1.625em;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 0;
  margin: 0;
  padding: 0;
  background: #f8f7f2;
  background-size: cover;
}

h1 {
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
  font-size: 2.44141rem;
  line-height: 3.25rem;
  font-weight: 900;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #3e225b;
}

h2 {
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
  font-size: 1.95313rem;
  line-height: 2.4375rem;
  font-weight: 700;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  padding-bottom: 1.5rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3e225b;
  border-color: gray;
}

p {
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

/* ==========================================================================
   FORMS
   ========================================================================== */

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* ==========================================================================
   MEDIA
   ========================================================================== */

/**
 * Retina.
 * Currently only set to 'double' retina, meaning,
 * assets only have to be twice the normal size,
 * @reference http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/
 */

/* Ported from @stubbornella */

/* Flexible media styles  (videos, ifram, object) */

/* ==========================================================================
   IMAGES
   ========================================================================== */

/*
   Utiliy class for SVG
   ========================================================================== */

svg {
  fill: currentColor;
}

.icon {
  width: 1em;
  height: 1em;
}

.icon--big {
  width: 1.5em;
  height: 1.5em;
}

.icon--colorprimary {
  color: #8cc63e;
}

/* ==========================================================================
   GRID
   ========================================================================== */

/*
   Small - Mobile first approach
   ========================================================================== */

header {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.header-wrapper {
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.nav-toggle {
  width: 16.66667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.nav-main,
.footer-main {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

main {
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-right: 9.16667%;
  margin-left: 9.16667%;
}

/*
   Medium
   ========================================================================== */

@media (min-width: 43.75em) {
  .header-wrapper {
    width: 41.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  .nav-main {
    width: 58.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }

  main {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-right: 17.5%;
    margin-left: 17.5%;
  }
}

/*
   large
   ========================================================================== */

@media (min-width: 78.125em) {
  .header-wrapper {
    width: 58.33333%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }

  .nav-main {
    width: 41.66667%;
    float: right;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }

  main {
    width: 50%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
    margin-right: 25%;
    margin-left: 25%;
  }

  .footer-main {
    width: 100%;
    float: left;
    padding-left: 0.41667%;
    padding-right: 0.41667%;
  }
}

/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.inner-wrapper {
  -webkit-transform: translate3d(0, 6em, 0);
  transform: translate3d(0, 6em, 0);
}

.inner-wrapper.open {
  -webkit-transform: translate3d(0, 18em, 0);
  transform: translate3d(0, 18em, 0);
}

.nav-toggle {
  position: relative;
  z-index: 2;
  display: inline-block;
  float: right;
  height: 6em;
  padding-top: 2em;
  cursor: pointer;
  background-color: #fff;
}

@media (min-width: 43.75em) {
  .nav-toggle {
    display: none;
  }
}

.nav-main {
  position: relative;
  z-index: 1;
  height: 6em;
  -webkit-transform: translate3d(0, -18em, 0);
  transform: translate3d(0, -18em, 0);
}

@media (min-width: 43.75em) {
  .nav-main {
    height: 6em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #fff;
  }
}

.nav-main.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.nav-main.nav-activated,
.inner-wrapper.nav-activated {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.nav-main__list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #8cc63e;
}

@media (min-width: 43.75em) {
  .nav-main__list {
    display: inline-block;
    color: #3e225b;
    background-color: transparent;
  }
}

.nav-main__item {
  width: 100%;
  padding: 1em;
}

@media (min-width: 43.75em) {
  .nav-main__item {
    line-height: 4em;
    display: inline-block;
    width: auto;
    height: 6em;
    padding: 0.75em;
    -webkit-transition: background-position 0.5s ease-out;
    transition: background-position 0.5s ease-out;
    text-align: middle;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(51%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #ffffff 51%, #ffffff 100%);
    background-position: 0 -100%;
    background-size: auto 200%;
  }

  .nav-main__item:hover {
    background-color: #e6e6e6;
    background-position: 0 0;
  }
}

.nav-main__item:hover {
  background-color: #3e225b;
}

/*
   Flex Navigation
   ========================================================================== */

/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer-main {
  margin-top: 3.25rem;
  padding: 1em 4em;
  border-color: #e6e6e6;
  background: #ccc;
}

/* ==========================================================================
   HEADER
   ========================================================================== */

.header-container {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 6em;
  background-color: #fff;
}

.header-wrapper {
  position: relative;
  z-index: 2;
  height: 6em;
  word-wrap: break-word;
  background-color: #fff;
}

.header-title {
  font-size: 2em;
  line-height: 0.9em;
  padding-left: 2em;
  vertical-align: middle;
}

@media (min-width: 78.125em) {
  .header-title {
    font-size: 2.95em;
    line-height: 3.2em;
  }
}

.header-title:after {
  content: ' Design';
  color: #8cc63e;
}

.header-logo {
  float: left;
  width: 3em;
  height: 3em;
}

@media (min-width: 78.125em) {
  .header-logo {
    width: 4em;
    height: 4em;
  }
}

/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/* ==========================================================================
   HOME
   ========================================================================== */
