@import url(http://fonts.googleapis.com/css?family=Kavoon|Wendy+One|Montserrat);

/*************************************************
*BASE
**************************************************/

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f8f7f2;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
}

article {
  line-height: 1.5em;
}

header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 2em 0;
  overflow: hidden;
  height: 4em;
  display: table;
  position: relative;
  background-color: #cccccc;
  background-color: rgba(255, 255, 255, 0.8);
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "liga", "dlig", "onum";
  -moz-font-feature-settings: "liga", "dlig", "onum";
  -ms-font-feature-settings: "liga", "dlig", "onum";
  font-feature-settings: "liga", "dlig", "onum";
}

h1 {
  font-weight: 900;
  margin: 0;
  color: #3e225b;
  font-size: 2.95rem;
  line-height: 3.2rem;
  padding-left: 1.5em;
}

h2 {
  font-size: 1.95rem;
  line-height: 2.4rem;
  font-weight: 700;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  padding-bottom: 1.5rem;
  border-color: gray;
  color: #3e225b;
}

h3 {
  font-size: 1.55rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #8cc63e;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/*************************************************
*BUTTONS
**************************************************/

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*************************************************
*MEDIA
**************************************************/

/*************************************************
*TYPOGRAPHY
**************************************************/

/*************************************************
*IMAGES
**************************************************/

svg {
  fill: currentColor;
}

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 4em;
  height: 4em;
}

.fa-bars {
  color: #3e225b;
}

.fa-circle {
  color: #f8f7f2;
}

.fa-stack-2x {
  font-size: 1em;
  line-height: 2em;
}

.fa-stack-1x {
  font-size: .5em;
  line-height: 4em;
}

.fa-envelope {
  top: -25%;
  color: #3e225b;
}

.nav-toggle {
  cursor: pointer;
}

.main-navigation {
  -webkit-transform: translateY(-4em);
  -ms-transform: translateY(-4em);
  transform: translateY(-4em);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
}

.main-navigation .nav-toggle {
  right: 10%;
  top: 5%;
}

.wrapper {
  overflow: hidden;
}

.inner-wrapper {
  position: absolute;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.inner-wrapper.open {
  -webkit-transform: translateY(4em);
  -ms-transform: translateY(4em);
  transform: translateY(4em);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #3e225b;
  color: #fff;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

nav ul li {
  display: block;
  padding: 15px;
  text-align: left;
  width: 100%;
}

nav ul li:hover {
  background: #573080;
}

@media (min-width: 43.75em) {
  nav ul li {
    display: inline-block;
    padding: 20px;
    width: auto;
  }
}

@media (min-width: 43.75em) {
  nav ul {
    max-height: 100%;
  }
}

@-webkit-keyframes bouncyDown {
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bouncyDown {
  0%, 50%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bouncyUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }
}

@keyframes bouncyUp {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25em, 0);
    transform: translate3d(0, -25em, 0);
  }
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80em, 0);
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -5em, 0);
    transform: translate3d(0, -5em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80em, 0);
    transform: translate3d(0, -80em, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10em, 0);
    transform: translate3d(0, 10em, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -5em, 0);
    transform: translate3d(0, -5em, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5em, 0);
    transform: translate3d(0, 5em, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/*************************************************
*GRID
**************************************************/

@media (min-width: 43.75em) {
  main {
    width: 66.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }
}

@media (min-width: 78.125em) {
  header {
    width: 100%;
    float: left;
    padding-left: Infinity%;
    padding-right: Infinity%;
  }

  main,
  .header-wrapper {
    width: 41.66667%;
    float: left;
    padding-left: Infinity%;
    padding-right: Infinity%;
    margin-left: 29.16667%;
    margin-right: 29.16667%;
  }
}

/*************************************************
*FOOTER
**************************************************/

/*************************************************
*HEADER
**************************************************/

.header-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

/*************************************************
*SIDEBAR
**************************************************/

.date-ranges {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #8cc63e;
}

.job-end:before {
  content: " - ";
}

/**
 * Print styles - h5bp.com/r
 *
 */

@media print {
  * {
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important;
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  /* Black prints faster: h5bp.com/s */

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (" attr(href) ")';
  }

  a[href^="#"]:after {
    content: '';
  }

  /* Don't show links for images, or javascript/internal links */

  /* h5bp.com/t */

@page {
    margin: .5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
