/*************************************************
*HEADER
**************************************************/
.header-container {
  //@include cf($extend: false);
  height: 6em;
  font-family: $heading-font;
  background-color: #fff;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

    overflow: hidden;
    //@include alpha-attribute("background-color", rgba(white, .8), black);
    //@include alpha-attribute("border-color", rgba(white, .8), black);
}

.header-container--fixed {
  background-color: #fff;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.header-wrapper {
    height: 6em;
    position: relative;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 2;
}



.header-title {
  @extend %vertical-align;
    font-size: 2em;
    line-height: 0.9em;
    vertical-align: middle;
    padding-left: 2em;


      &:after {
      content:" Design";
      color: $color-secondary;
      }


    @include breakpoint($bp-large) {
        font-size: 2.95em;
        line-height: 3.2em;
        }

}

.header-logo {
   @extend %vertical-align;
    float: left;
    height: 3em;
    width: 3em;
    @include breakpoint($bp-large) {
        height: 4em;
        width: 4em;
        }


    // @include breakpoint($bp-small) {
    //     display: block;
    // }
}